.gradle
.idea
build
classes
twb-client-ecom.iml
node_modules
.DS_Store

#Front end files:
.sass-cache
.keep
*.map
*.png

/src/main/webapp/resources/resources/node_modules/
/src/main/webapp/resources/gulpfile.js

src/main/webapp/resources/scripts/lib/bower_components/
src/main/webapp/resources/app/node_modules/
src/main/webapp/resources/app/bower_components/jquery/
src/main/webapp/resources/app/bower_components/
src/main/webapp/resources/app/.tmp/
nodejs/test/server
nodejs/test/screenshots
/bin/
.settings/
.classpath
.project

nodejs/run.bat
nodejs/npm-debug.log
nodejs/config/definitionsCSS.json
nodejs/test/features/myBilling_checkLabels.feature1
nodejs/test/features/myBilling_checkLabelsByCountry.feature1
*.7z
*.bat
*.rar
*.exe
*.zip
